/*change min-width slight bigger for each (medium and large)*/
/*@media screen and (min-width: 768px)*/
@media screen and (min-width: 868px){
  
  .spot3{
    display: block;
}

nav ul li a{
  padding: .5rem 1rem;
}

nav button{display: none;}
nav ul#primaryNav{
  display: flex;
  margin-left: 2vw;
  border-left: 1px solid rgba(61, 108, 141, 0.5);
}

}