@import url("https://fonts.googleapis.com/css2?family=Lato&family=Lora&display=swap");
@import url("https://coolors.co/e7fa00-22333b-6c91bf-ff3c38-c3b299");
.grid-container{
display: grid;
/*grid-template-columns: auto auto auto auto;*/
}


:root {
    /* Show values from your colors from your palette */
    --primary-color: #396E94;
    --secondary-color: #22333b;
    --accent1-color: #c3b299;
    --accent2-color: #EECA49;
  
    /* Display your chosen font(s) */
    --heading-font: "Lora", serif;
    --paragraph-font: "Lato", sans-serif;
  
   
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #22333b; /* headlines on a white background */
    --headline-color-on-color: #FFFFFF; /* headlines on a colored background */
    --paragraph-color-on-white: #22333b; /* paragraph text on a white background */
    --paragraph-color-on-color: #22333b; /* paragraph text on a colored background */
    --text-background-color: #22333b;
    --nav-link-color: #6c91bf;
    --nav-background-color: #E7C24F;
    --nav-hover-link-color: #E7C24F;
    --nav-hover-background-color: #6c91bf;
    --footer-background-color:#22333b;
  }
  
  
  html {
    background-color: var(--secondary-color);
  
  }
  
  
  body {
    max-width: 1080px;
    margin: 0 auto;
    background-color: var(--headline-color-on-color);
    padding: 1em;
  }
  
  
  
  .bottom {
  
    background-color: var(--footer-background-color);; 
  
  }

  header{
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 100px;
    background:  #ffffff;
    border-bottom: 5px double;
    border-color: #6c91bf;
  } 
  nav button{
    display: grid;
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color:#396E94;
    grid-column: 5/6;
    padding: 10;
  }
  nav {
    nav-background-color: #396E94;
  }
  
  nav ul {
      
      list-style: none;
      padding: 0;
      margin: 0;
      display: none;

  }   
      
  
  nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color:#396E94;
    border-top: 1px solid rgba(61, 108, 141, 0.5);
  }

    nav ul li.active a{
    background-color:  rgba(61, 108, 141, 0.2);
    color: #fffffF;
  }
  
  #primaryNav{

    text-align : center;
  }

  nav ul li a:hover{
    background-color: rgba(61, 108, 141, 0.5);
  }

  
  nav ul.open{display: block;}

  .logo {
      width: 75%;
      height: 10%;
      border: 5px solid  #22333b;
      margin: 15px;
  }

  h1{
    color: #396E94;
    margin-left: 5px;    
}

h2{
  font-size: large;
  color: #6c91bf;
  padding: 0px;
  margin-top: 5px;
}

  
  .social
  {
      width: 25px;
      height: 25px;
      color:#396E94;
      fill: #396E94;
      margin-left: 10px;
  }

  h3{
    grid-column: 1/6;
    grid-row: 2;
    text-align: center;
  }
  #currentDate{
    background-color: #396E94;
    color: #22333b;
    /*max-width: 100%;*/
  }
  div.social{
    position: relative;
    top: 5px;
    right: 5px;
  }
  .placeholder-box {
    background-color: #c3b299;
    height: 100%;
    padding: 15px;
    margin: 10px;
    border: 1px solid #22333b;

  }
  .heroimg{
    padding: 0px;
  }

  main {
    color: #22333b;
    background-color: #2196F3;

  }

  #cta {
    position: relative;
    bottom: 50px;
    left: 150px;
    background-color: #2196F3;
    color: #ffffff
  }


  img {
    padding: 1rem;
    align-content: center;
    height: 200px;
    width: auto;
    max-width: 325px; /* Images are jerks - Seattle*/
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin: 0px;
    padding:10px;
    }
  
    section{
    background-color: #bbb;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

  

  #welcome {
    position: relative;
    top: 40px;
    right: 0px;
  }

  #join{
      display: none;
  }

  .img{
    display: grid;
    grid-template-columns: 1fr;
}

.img img[data-src] {
    filter: blur(0.2em);
  }
  
.img {
    filter: blur(0em);
    transition: filter 0.5s;
  }

  body{
    justify-content: center;
    align-items: center;
  }

  .norm:hover {box-shadow: 0 0 50px #333;}
/* rounded corners - boxmodel */

#gallery{

}
/*Use inth child, Auto to fit all*/
  .spotlight{
      height: auto;
  }

  .spot3{
      display: none;
  }


.footer-logo {
  max-width: 150px;
  border: 10px solid  #c3b299;
  margin: 15px;
}

footer{
      
  color: #ffffff;
  text-align: center;
  
}

.responsive{
  width: auto;
  }